<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>XRay Builder Session - re:Invent 2018</title>

    <link href="<%= static_path + "/bootstrap/css/theme/flatly/bootstrap.css" %>" rel="stylesheet">
    <link href="<%= static_path + "/bootstrap/css/jumbotron-narrow.css" %>" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/">Home</a></li>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Modules <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/modules/1">1 - Integration</a></li>
                <li><a href="/modules/2">2 - Errors</a></li>
                <li><a href="/modules/3">3 - Annotations</a></li>
                <li><a href="/modules/4">4 - Third Party</a></li>
                <li><a href="/modules/5">5 - Monitoring</a></li>
              </ul>
            </li>
        </ul>
        <h3 class="text-muted">AWS X-Ray Workshop</h3>
      </div>
      <%- body %>
      <div class="footer">
        <p>&copy; re:Invent 2018</p>
      </div>
    </div>
    <script src="<%= static_path + "/jquery/jquery-1.11.3.min.js" %>"></script>
    <script src="<%= static_path + "/bootstrap/js/bootstrap.min.js" %>"></script>
    <%- script %>
  </body>
</html>
